.logoimg  {
    background-image: url("/attorney/assets/img/logo.png");
    height:550px;
    width: auto;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.2;

}/* your styles go here */
